.grid-container {
  display: grid;
  &.layout {
    padding: 20px;
  }
  .inputs {
    grid-template-columns: 1fr auto;
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      .buttons {
        text-align: right;
      }
    }
    align-content: center;
    margin-bottom: 20px;
    .buttons {
      button {
        margin-left: 10px;
      }
    }
  }
  .games-container {
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
